<!DOCTYPE html>
<html>

<head>
    <title>ISLT</title>
    <!-- Latest compiled and minified CSS -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="dataform d-flex offset-3">
            <div class="card text-white bg-info mb-3" style="max-width: 25rem;">
                <div class="card-header">Create New Data</div>
                <div class="card-body">
                    <h5 class="card-title">Fill CSV Data</h5>
                    <form class="form-inline" action="sendData" method="POST">
                        <div class="item">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">PG</span>
                                </div>
                                <input name="pg" id="pg" type="number" value="{{ pg }}">
                            </div>
                        </div>
                        <div class="item">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Word</span>
                                </div>
                                <input name="word" id="word" type="text" value="{{ word }}">
                            </div>
                        </div>
                        <div class="item">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Definition</span>
                                </div>
                                <input name="definition" id="definition" type="text" value="{{ definition }}">
                            </div>

                        </div>
                        <div class="item">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Sentence</span>
                                </div>
                                <input name="sentence" id="sentence" type="text" value="{{ sentence }}">
                            </div>

                        </div>
                        <div class="item">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Category</span>
                                </div>
                                <input name="category" id="category" type="text" value="{{ category }}">
                            </div>
                        </div>
                        <div class="item">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Sample</span>
                                </div>
                                <input name="sample" id="sample" type="text" value="{{ sample }}">
                            </div>

                        </div>
                        <div class="item">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Synonyms</span>
                                </div>
                                <input name="synonyms" id="synonyms" type="text" value="{{ synonyms }}">
                            </div>
                        </div>
                        <div class="btn-block">
                            <button type="submit" class="btn btn-info" href="/">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>